In [1]:
import findspark              
findspark.init()              # make pyspark IMPORTABLE as a regular library

import pyspark
import random

sc = pyspark.SparkContext(appName="Pi")        # Only single context can exist at once

### Single RDD

In [17]:
my_rdd_num = sc.parallelize(range(100))

In [20]:
days = 'MOMDAY TUESDAY WEDNESDAY THURSDAY FRIDAY SATURDAY SUNDAY'
my_rdd_str = sc.parallelize(days.split(' '))
my_rdd_str.take(2)

['MOMDAY', 'TUESDAY']

### Pair RDD

In [38]:
# Tuple of Tuples
# sc.parallelize((key, value))

tup = (("JAN","W1:10.0"),("JAN","W2:12.0"),("JAN","W3:15.0"),("JAN","W4:16.0"),("FEB","W1:18.5"),("FEB","W2:20.5"),("FEB","W3:20.5"),("FEB","W4:21.4"),("MAR","W1:25.0"),("MAR","W2:28.9"),("MAR","W3:32.0"),("MAR","W4:33.0"),("APR","W1:38.0"),("APR","W2:40.0"))

pair_rdd = sc.parallelize(tup)

#pair_rdd.lookup("FEB")
pair_rdd.take(10)

[('JAN', 'W1:10.0'),
 ('JAN', 'W2:12.0'),
 ('JAN', 'W3:15.0'),
 ('JAN', 'W4:16.0'),
 ('FEB', 'W1:18.5'),
 ('FEB', 'W2:20.5'),
 ('FEB', 'W3:20.5'),
 ('FEB', 'W4:21.4'),
 ('MAR', 'W1:25.0'),
 ('MAR', 'W2:28.9')]

In [6]:
print(my_rdd.take(10))    # Print first 10 elements in RDD
print(my_rdd.collect())   # Print every element in RDD

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [8]:
# Number of Partitions in a RDD

my_rdd.getNumPartitions()

4

In [12]:
# Lineage of a RDD, how it was built
my_rdd.toDebugString()

b'(4) PythonRDD[3] at collect at <ipython-input-4-3b650c514189>:2 []\n |  ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195 []'

### Single RDD Transformations

In [13]:
single_rdd = sc.parallelize([1,1,2,3,4,4,5,5,5])

In [15]:
# Finding unique elements in RDD

single_rdd.distinct().take(10)

[4, 1, 5, 2, 3]